<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Movlest</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.3.0/css/perfect-scrollbar.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.3.54/css/materialdesignicons.min.css'>

    <link rel="stylesheet" href="assets/scss/timeline.css">
    <link rel="stylesheet" href="chat-control/scss/style.css">


</head>

<body>

<!-- JQUERY, FONTAWESOME, BALLOON CSS AND NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<nav>
    <div class="centre" id="logo">
        <img style="width: 30px;height: auto;" src="assets/images/movkafa.png" alt="">
       <!-- <span class="fab fa-twitter"></span> --></div>
    <ul class="nav">
        <li>
            <a class="centre selected" href="#" data-balloon-pos="right" data-balloon="Home"><span class="fas fa-home"></span></a>
        </li>
        <li>
            <a class="centre" href="#" data-balloon-pos="right" data-balloon="Moments"><span class="fas fa-bolt"></span></a>
        </li>
        <li>
            <a class="centre" href="#" data-balloon-pos="right" data-balloon="Notifications"><span class="fas fa-bell"></span></a>
        </li>
        <li>
            <a class="centre" href="#" data-balloon-pos="right" data-balloon="Direct Messages"><span class="fas fa-envelope"></span></a>
        </li>
        <li>
            <button class="centre searchBtn" href="#" data-balloon-pos="right" data-balloon="Search"><span class="fas fa-search"></span></button>
        </li>
    </ul>
    <ul class="navBottom">
        <li>
            <button class="newTweet centre" data-balloon-pos="right" data-balloon="New Tweet"><span class="fas fa-comment-alt"></span></button>
        </li>
        <li>
            <button class="you centre" data-balloon-pos="right" data-balloon="You"><img src="assets/images/profil.jpg"/></button>
        </li>
    </ul>
</nav>
<div class="meOverlay"></div>
<div class="searchOverlay"></div>
<div class="searchContainer">
    <div class="inputContainer">
        <input type="text" placeholder="Search Twitter" value="Youtube"/>
        <button class="submit" type="submit"><span class="fas fa-search"></span></button>
    </div>
    <div class="searchResults">
        <ul class="suggestions">
            <li>
                <a href="#">youtube down</a>
            </li>
            <li>
                <a href="#">youtube</a>
            </li>
            <li>
                <a href="#">YOUTUBE STORIES</a>
            </li>
            <li>
                <a href="#">Youtuber</a>
            </li>
        </ul>
        <ul class="profiles">
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/1042095789894295552/2xCUFmgU_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">YouTube Gaming <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/988507854469382144/DTM13FAg_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">Team YouTube <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/988507854469382144/DTM13FAg_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">YouTube <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/988507854469382144/DTM13FAg_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">YouTube Creators <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/1005187735869509632/2S11b949_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">YouTube Music <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="avatar centre"><img src="https://pbs.twimg.com/profile_images/1057700574622175232/Ea4q9s4c_400x400.jpg"/></div>
                    <div class="info">
                        <div class="name">YouTube TV <span class="verf"><img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c8e36a5f970b-600wi" alt=""/></span></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="meContainer">
    <div class="section Me">
        <div class="avatar"><img src="assets/images/profil.jpg"/></div>
        <div class="info">
            <div class="name">Yusuf | Beştaş</div>
            <div class="atMe">@karaelf_</div>
        </div>
    </div>
    <div class="section">
        <ul>
            <li><a href=""><span class="fas fa-user"></span><span class="text">Profile</span></a></li>
            <li><a href=""><span class="fas fa-list-ul"></span><span class="text">Lists</span></a></li>
            <li><a href=""><span class="fas fa-bolt"></span><span class="text">Moments</span></a></li>
        </ul>
    </div>
    <div class="section">
        <ul>
            <li><a href="#">Settings and Privacy</a></li>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">Keyboard shortcuts</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </div>
    <div class="section Night">
        <ul>
            <li>
                <button class="NightMode">
                    <span class="far fa-moon"></span>
                    <div class="text">Night Mode</div>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="newTweetContainer centre">
    <div class="newTweetDarken"></div>
    <div class="newTweetBox">
        <div class="head">
            <h2>Compose new Elestiri</h2>
            <span class="fas fa-times closeNewTweet"></span>
        </div>
        <div class="body">
            <textarea placeholder="What's happening?"></textarea>
        </div>
        <div class="footer">
            <div class="add"><a class="centre" href="#" data-balloon="Add Photos or Video" data-balloon-pos="up"><span class="far fa-image"></span></a><a class="centre" href="#" data-balloon="Add a GIF" data-balloon-pos="up"><span class="fas fa-film"></span></a><a class="centre" href="#" data-balloon="Add Poll" data-balloon-pos="up"><span class="far fa-chart-bar"></span></a></div>
            <div class="submit">
                <button><span class="fas fa-comment-alt"></span><span class="text">Elestiri</span></button>
            </div>
        </div>
    </div>
</div>
<div id="Header" style="display:none">
    <div class="headerDarken"></div>
    <div id="wrapper">
        <div class="headerMe">
            <div class="avatar"><img src="assets/images/profil.jpg"/></div>
            <div class="info">
                <div class="name">Yusuf | Besta</div>
                <div class="atMe">@karaelf33_</div>
            </div>
        </div>
        <div class="stats">
            <a class="statBox" href="">
                <h3>Elestiriler</h3>
                <p>3.6K</p>
            </a>
            <a class="statBox" href="">
                <h3>Following</h3>
                <p>182</p>
            </a>
            <a class="statBox" href="">
                <h3>Followers</h3>
                <p>181</p>
            </a>
        </div>
    </div>
</div>
<div id="container">
    <div class="flex" id="wrapper">
        <div class="timeline">
            <div class="addTweet">
                <div class="avatar"><img src="assets/images/profil.jpg"/></div>
                <div class="textarea">
                    <textarea placeholder="What's happening?"></textarea>
                    <div class="btns">
                        <div class="add"><a class="centre" href="#" data-balloon="Add Photos or Video" data-balloon-pos="up"><span class="far fa-image"></span></a><a class="centre" href="#" data-balloon="Add a GIF" data-balloon-pos="up"><span class="fas fa-film"></span></a><a class="centre" href="#" data-balloon="Add Poll" data-balloon-pos="up"><span class="far fa-chart-bar"></span></a></div>
                        <div class="submit">
                            <button class="closeTweet"><span class="fas fa-times"></span><span class="text">Close </span></button>
                            <button><span class="fas fa-comment-alt"></span><span class="text">Elestiri</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <a class="avatar" href=""><img src="https://yt3.ggpht.com/-uJh4oSQAwak/AAAAAAAAAAI/AAAAAAAAAAA/AMGKfKvDP3w/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"/></a>
                <div class="infoContainer">
                    <div class="nameContainer"><a href="#"><span class="name">Bob Ross</span><span class="atMe">@BobRoss</span><span class="time">11m</span></a></div>
                    <div class="message">
                        <p>Just posting some of my work.</p>
                        <img src="https://images.fineartamerica.com/images-medium-large-5/autumns-glow-c-steele.jpg"/>
                    </div>
                    <div class="btns">
                        <button><span class="fas fa-comment"></span><span class="number">45</span></button>
                        <button><span class="fas fa-retweet"></span><span class="number">12.3K</span></button>
                        <button><span class="far fa-heart"></span><span class="number">23.9K</span></button>
                        <button><span class="far fa-envelope"></span><span class="number"></span></button>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <a class="avatar" href=""><img src="assets/images/profil.jpg"/></a>
                <div class="infoContainer">
                    <div class="nameContainer"><a href="#"><span class="name">Yusuf | Bestas</span><span class="atMe">@karaelf33_</span><span class="time">23m</span></a></div>
                    <div class="message">
                        <p>This is my second attempt on a redesign for twitter</p>
                        <p>Night mode button even works now! :D</p>
                        <p>You can also press the "Search" and "You" buttons to open a overlay.</p>
                        <p>I've also just added more responsive rules. So it's looks "usable".</p>
                    </div>
                    <div class="btns">
                        <button><span class="fas fa-comment"></span><span class="number">2</span></button>
                        <button><span class="fas fa-retweet"></span><span class="number">1</span></button>
                        <button><span class="far fa-heart"></span><span class="number">5</span></button>
                        <button><span class="far fa-envelope"></span><span class="number"></span></button>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <a class="avatar" href=""><img src="https://www.thesun.co.uk/wp-content/uploads/2016/04/2129070.main_image.jpg?w=620&amp;strip=all"/></a>
                <div class="infoContainer">
                    <div class="nameContainer"><a href="#"><span class="name">Albus Dumbledore</span><span class="atMe">@albusdumb</span><span class="time">23m</span></a></div>
                    <div class="message">
                        <p>Very impressive work by this young fellow.</p>
                        <iframe src="https://www.youtube.com/embed/MvjQTA81MhY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
                    </div>
                    <div class="btns">
                        <button><span class="fas fa-comment"></span><span class="number">12</span></button>
                        <button><span class="fas fa-retweet"></span><span class="number">45</span></button>
                        <button><span class="far fa-heart"></span><span class="number">73</span></button>
                        <button><span class="far fa-envelope"></span><span class="number"></span></button>
                    </div>
                </div>
            </div>
            <div class="tweet">
                <a class="avatar" href=""><img src="https://static0.therichestimages.com/wp-content/uploads/Will-Smith.jpeg"/></a>
                <div class="infoContainer">
                    <div class="nameContainer"><a href="#"><span class="name">Will Smith</span><span class="atMe">@Gibbu_</span><span class="time">23m</span></a></div>
                    <div class="message">
                        <p>Still one of my favourite movies.</p>
                        <iframe src="https://www.youtube.com/embed/aoyV49FfjOU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
                    </div>
                    <div class="btns">
                        <button><span class="fas fa-comment"></span><span class="number">12</span></button>
                        <button><span class="fas fa-retweet"></span><span class="number">32</span></button>
                        <button><span class="far fa-heart"></span><span class="number">67</span></button>
                        <button><span class="far fa-envelope"></span></button><span class="number"></span>
                    </div>
                </div>
            </div>
            <div class="loadMore centre"><span class="fab fa-twitter"></span>
                <button>Load more</button>
            </div>
        </div>
        <div class="module">
            <div class="section">
                <div class="head">
                    <h3>Arkadaşlarının İzledikleri</h3>
                    <a href="#">View All</a>
                </div>
                <div class="body whoToFollow">
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/171053/pexels-photo-171053.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">DevTips</div>
                                <div class="atMe">@DevTipsShow</div>
                            </div>
                            <div class="followBy">Followed by James Bob and Will Smith</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/171053/pexels-photo-171053.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">Alex Walker</div>
                                <div class="atMe">@AlexWalker13</div>
                            </div>
                            <div class="followBy">Followed By Will Smith and Bob Ross</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/40525/pexels-photo-40525.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">Tom Riddle</div>
                                <div class="atMe">@yaboytom_</div>
                            </div>
                            <div class="followBy">Followed by Harry Potter, Dumbledore...</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                </div>
            </div>
            <div class="section">
                <div class="head">
                    <h3>Dünyada İzlenenler</h3>
                    <a href="#">View All</a>
                </div>
                <div class="body whoToFollow">
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/171053/pexels-photo-171053.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">DevTips</div>
                                <div class="atMe">@DevTipsShow</div>
                            </div>
                            <div class="followBy">Followed by James Bob and Will Smith</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/171053/pexels-photo-171053.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">Alex Walker</div>
                                <div class="atMe">@AlexWalker13</div>
                            </div>
                            <div class="followBy">Followed By Will Smith and Bob Ross</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                    <a class="person" href="#">
                        <div class="avatar"><img src="https://static.pexels.com/photos/40525/pexels-photo-40525.jpeg"/></div>
                        <div class="info">
                            <div class="nameContainer">
                                <div class="name">Tom Riddle</div>
                                <div class="atMe">@yaboytom_</div>
                            </div>
                            <div class="followBy">Followed by Harry Potter, Dumbledore...</div>
                        </div>
                        <div class="follow"><span class="fas fa-user-plus"></span></div>
                    </a>
                </div>
            </div>
            <div class="section">
                <div class="head">
                    <h3>En çok beğenilen Eleştiriler</h3>
                    <a href="#">Change</a>
                </div>
                <div class="body Trends">
                    <h3>Dünyada</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <span>#SydneyDerby</span>
                                <p>Adrian Mierzejewski stars as Sydney smash Wanderers</p>
                            </a>
                        </li>
                        <li><a href="#">#PERvNEW</a></li>
                        <li>
                            <a href="#">
                                <span>Medievil</span>
                                <p>12.6K Elestiri</p>
                            </a>
                        </li>
                        <li><a href="#">#MELatCNS</a></li>
                        <li>
                            <a href="#">
                                <span>#2018PredictionsIn5Words</span>
                                <p>@BobRoss hakkında elestiri </p>
                            </a>
                        </li>
                        <li><a href="#">#WBBL03</a></li>
                        <li><a href="#">#BRIvWEL</a></li>
                        <li>
                            <a href="#">
                                <span>#mandalinalar</span>
                                <p>7,677 Elestiri</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body Trends">
                    <h3>Sizin Ülkeden</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <span>#SydneyDerby</span>
                                <p>Adrian Mierzejewski stars as Sydney smash Wanderers</p>
                            </a>
                        </li>
                        <li><a href="#">#PERvNEW</a></li>
                        <li>
                            <a href="#">
                                <span>Medievil</span>
                                <p>12.6K Elestiri</p>
                            </a>
                        </li>
                        <li><a href="#">#MELatCNS</a></li>
                        <li>
                            <a href="#">
                                <span>#2018PredictionsIn5Words</span>
                                <p>@BobRoss Hakkında Elestiri</p>
                            </a>
                        </li>
                        <li><a href="#">#WBBL03</a></li>
                        <li><a href="#">#BRIvWEL</a></li>
                        <li>
                            <a href="#">
                                <span>#ThingsITrustMoreThanFoxNews</span>
                                <p>7,677 Elestiri</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="control-ajax">
    <div class="ajax" v-if="isShown === true">
        <control-icon :icon="'ajax'" :classes="'fa-spin fa-3x fa-fw'"></control-icon>
    </div>
</script>
<script type="text/x-template" id="control-icon"><i :class="iconclass"></i></script>
<script type="text/x-template" id="control-chat-panel">
    <div class="chat-panel" :class="{'expanded': isExpanded}">
        <div class="header" @click="expand">
            <button class="menu wobbler" @click="$root.wobble">
                <control-icon :icon="'menu'"></control-icon>
            </button><span class="title">{{ title }}</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search..." v-model="searchInput"/>
            <control-icon class="icon" :icon="'search'"></control-icon>
        </div>
        <div class="content" :ref="'content'">
            <control-ajax v-if="isLoaded === false" :ref="'ajax'"></control-ajax>
            <ul class="user-list">
                <chat-user v-for="(user, index) in filteredUsers" :key="index" :userdata="user" :index="index"></chat-user>
            </ul>
        </div>
        <button class="compose wobbler" @click="$root.wobble">
            <control-icon class="icon" :icon="'compose'"></control-icon>
        </button>
    </div>
</script>
<script type="text/x-template" id="control-chat-user">
    <li class="chat-user" @click="chatUser(index)" :class="{'offline': userdata.status === 0, 'online': userdata.status === 1, 'away': userdata.status === 2, }">
        <div class="photo-container">
            <div class="photo"><img :src="userdata.photo"/></div>
        </div>
        <div class="username">{{ userdata.username}}</div>
        <div class="last-message">
            <div class="sender">You:&nbsp;</div>lorem ipsum dolor sit amet
        </div>
        <div class="notifications" :class="{'show': Math.ceil(Math.random() * 10) % 2 }">
            <div class="text">{{ Math.ceil(Math.random() * 10) }}</div>
        </div>
    </li>
</script>
<script type="text/x-template" id="control-chat-window">
    <div class="chat-window" :class="{'expanded': isExpanded}" :ref="'index-' + index">
        <div class="header" @click="expand">
            <div class="name">{{ usersInChat }}</div>
            <div class="close" @click="closeChat">
                <control-icon class="icon" :icon="'close'"></control-icon>
            </div>
        </div>
        <div class="body" :ref="'chat'">
            <ul class="chat">
                <li class="line" v-if="chatdata" v-for="(hist, index) in chatdata.history" :class="{'me': parseInt(hist.user) === 0, 'them': parseInt(hist.user) !== 0 }">
                    <div class="bubble">
                        <div class="message">{{ hist.message }}</div>
                    </div>
                    <div class="time">{{ time }}</div>
                </li>
                <li class="line them" v-if="theyAreTyping">
                    <div class="bubble">
                        <div class="message">
                            <div class="dot-1"></div>
                            <div class="dot-2"></div>
                            <div class="dot-3"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="chat-input">
                <input :ref="'send-message'" v-model="sendMessageInput" @keyup.enter="sendMessage" placeholder="type something..."/>
                <button class="wobbler" @click="$root.wobble">
                    <control-icon class="icon" :icon="'emoji'"></control-icon>
                </button>
                <button class="wobbler" @click="$root.wobble">
                    <control-icon class="icon" :icon="'attachment'"></control-icon>
                </button>
                <button class="wobbler" @click="sendMessage" :class="{'disabled': sendMessageInput === ''}">
                    <control-icon class="icon" :icon="'send'"></control-icon>
                </button>
            </div>
        </div>
    </div>
</script>
<div id="app">
    <p>
    <div class="option">
        <label>
            <input id="fontawesome" type="radio" name="iconset" v-model="iconset" value="fontawesome"/> Font Awesome
        </label>
    </div>
    <div class="option">
        <label>
            <input id="materialdesign" type="radio" name="iconset" v-model="iconset" value="materialdesign"/> Material Design
        </label>
    </div>
    </p>
    <div class="chat-box">
        <div class="chat-windows" :ref="'chat-windows'">
            <chat-window v-for="(chat, index) in chatsReversed" :key="index" :chatdata="chat" :index="index"></chat-window>
        </div>
        <chat-panel :ref="'chat-panel'" :title="'Vue.JS Chat'"></chat-panel>
    </div>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tweenjs/1.0.2/tweenjs.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.3.0/perfect-scrollbar.js'></script>
<script src="assets/javascript/timeline.js"></script>
<script src="chat-control/js/index.js"></script>




</body>

</html>
